<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MusicPlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MusicPlayUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
	 <!-- Data Source=.\musicdb.db;Version=3; -->
		<add name="Default"
    connectionString="Data Source=.\musicdb.db;" 
    providerName="System.Data.SqlClient"/>
		<add name="SQL"
    connectionString="Server=localhost\SQLEXPRESS;Database=MusicDataBase;Trusted_Connection=True;"
    providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <MusicPlay.Settings>
   <setting name="AppTheme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainStartingView" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="TimerInterval" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DefaultBackgroundOpacity" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="NowPlayingStartingSubView" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="QueueCover" serializeAs="String">
    <value>51</value>
   </setting>
   <setting name="AutoChangeOutputDevice" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VColor" serializeAs="String">
    <value>#FFEEEEEE</value>
   </setting>
   <setting name="VDataQt" serializeAs="String">
    <value>256</value>
   </setting>
   <setting name="VRepresentation" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VGradient" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VFill" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VStrokeThickness" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VObjectLength" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="VCutHighFreq" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VCutPercentage" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="VRefreshRate" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VAutoColor" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ArtistsFilter" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ArtistOrder" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="AlbumFilter" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="AlbumOrder" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="VCenterFreq" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Volume" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="VisualizerVisibility" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="NowPlayingCoverVisibility" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LyricsFontSize" serializeAs="String">
    <value>30</value>
   </setting>
  </MusicPlay.Settings>
  <MusicPlayUI.Settings>
   <setting name="AppTheme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainStartingView" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="TimerInterval" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="NowPlayingStartingSubView" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="QueueCover" serializeAs="String">
    <value>51</value>
   </setting>
   <setting name="AutoChangeOutputDevice" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VColor" serializeAs="String">
    <value>#FFEEEEEE</value>
   </setting>
   <setting name="VDataQt" serializeAs="String">
    <value>2048</value>
   </setting>
   <setting name="VRepresentation" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VGradient" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VFill" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VStrokeThickness" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VObjectLength" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="VCutHighFreq" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VCutPercentage" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="VRefreshRate" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VAutoColor" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ArtistsFilter" serializeAs="String">
    <value />
   </setting>
   <setting name="ArtistOrder" serializeAs="String">
    <value>0/1</value>
   </setting>
   <setting name="AlbumFilter" serializeAs="String">
    <value />
   </setting>
   <setting name="AlbumOrder" serializeAs="String">
    <value>0/1</value>
   </setting>
   <setting name="VCenterFreq" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Volume" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="VisualizerVisibility" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="NowPlayingCoverVisibility" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LyricsFontSize" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="VSmoothGraph" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NowPlayingSelectedCoverPriority" serializeAs="String">
    <value>3,0,1,2</value>
   </setting>
   <setting name="LightTheme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SunsetSunrise" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SystemSyncTheme" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="PlayPauseShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NextTrackShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="PreviousTrackShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="RepeatShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="ShuffleShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="IncreaseVolShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="DecreaseVolShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="MuteVolShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavHomeShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavAlbumsShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavArtistsShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavPlaylistsShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavSettingsShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavNowPlayingShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="NavBackShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="ToggleFavShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating0Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating1Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating2Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating3Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating4Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="Rating5Shortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="ToggleFullScreenShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="EscapeFullScreenShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="ToggleQueueShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="ToggleLightThemeShortcut" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoForeground" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="EqualizerEnabled" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="EqualizerPreset" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ColorfulPlayerControl" serializeAs="String">
    <value>1</value>
   </setting>
  </MusicPlayUI.Settings>
 </userSettings>
</configuration>